#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Logic
GenericName=Logic
Commrnt=Open-source
Keywords=embedded;
Exec="Desktop/Logic 1.2.29 (64-bit)/Logic" -override
Icon="Desktop/Sal.png"
Terminal=false
Categories=Development;
MimeType=text/x;
Keywords=embedded;
StartupWMClass=processing-app-Base
